name: Quahog Tests
on: [push, pull_request, workflow_dispatch]
jobs:
  tests:
    strategy:
      matrix:
        php-versions: ['7.3', '7.4', '8.0']
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup ClamAV
        run: |
          sudo apt-get update -qq
          sudo apt-get install -qq clamav-daemon netcat
          sudo /etc/init.d/clamav-freshclam stop
          sudo sh -c 'echo TCPSocket 3310 >> /etc/clamav/clamd.conf'
          sudo freshclam
          sudo /etc/init.d/clamav-daemon start
          # Wait until ClamAV is running
          timeout 30 sh -c 'until nc -z 127.0.0.1 3310; do echo "Waiting for ClamAV" && sleep 1; done'
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: mbstring, dom, sockets
      - name: Get composer cache directory
        id: composer-cache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"
      - name: Cache composer dependencies
        uses: actions/cache@v2
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-composer-
      - name: Install dependencies
        run: composer install --no-progress --prefer-dist --optimize-autoloader
      - name: Test with phpunit
        run: vendor/bin/phpunit

